 <!--header-->
 <div id="header">
     <div class="row">
 <div class="col-md-2 bg-white" style="height: 500px;">
    <img class="pt-5" style="height: 470px;position: relative; z-index: 10;" src="../../assets/banner.png">
 </div>

 <div class="col-md-10 align" style="height: 500px; background-color: aqua;">
    <div class="text-dark mt-5 mb-1 ">WE ARE SHARE</div>
    <div id="itcbook"class="font-weight-bold mb-3">ITC BOOK</div>
    <button class=" mb-3 " id="readmore">READMORE</button>

 </div>
 </div>
</div>
