
<div class="row align mb-5 align-items-center" >
  <div class="col-md-6 float-left">
      POPULAR E-BOOKS
  </div>
  <div class="col-md-2">
    
    <div class="input-group mb-3">
      <input type="text" class="align-items-center form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="se">
    </div>
    
  </div>
  <div class="col-md-4 align-text-bottom float-right pl-5">
    <button class=" ml-1 rounded-circle border" id="search" (click)="show()">
        <img class="" src="../../assets/search.png" style="height: 40px;">
       
    </button>
    <button id="menu2" class="bt pt-0 border" >
      
    </button>
    <button id="menu1" class="bt pt-0 border">
      
    </button>
  </div>
</div>
